* {
    font-family: 'Single Day', cursive;
}

div {
    width: 800px;
    margin: auto;
}

.order {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
}

.bg-small {
    width: 800px;
    height: 500px;
    background-image: url("IMG_2028.JPG");
    background-size: 800px 500px;
    margin: 20px auto;
}

.ramen {
    font-size: 50px;
    margin: auto;
}

.head {
    margin-right: 0px;
}